<!DOCTYPE html>
<html>
<head>
    <title>Quickwrite</title>
    <link rel="stylesheet" href="https://use.typekit.net/bwi4pfa.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.2.3/purify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>
<body>
    <h1 style="margin-bottom: 10px;">Quickwrite</h1>
    <p>What if you could make a blog...out of your gists on Github?</p>
    <br>

    <h3 style="margin-bottom: 0px; font-weight: 700;">Introducing Quickwrite!</h3>
    <p style="margin-top: 4px;">Quickwrite links to your github account to pull your gists. Once it does so, it renders them with fun style.</p>
    <p style="margin-top: 4px;">Not interested in writing on Github? Quickwrite provides its own text editor with a markdown renderer so that you can build your blog entirely on Quickwrite. It'll just use gists as a database in the background.</p>
    
    <h3 style="margin-bottom: 12px; font-weight: 700;">Sound interesting?</h3>
    <button onclick="window.location.pathname = '/login'">Get started</button>
    
</body>
</html>