<!DOCTYPE html>
<html>
<head>
    <title>Quickwrite</title>
    <link rel="stylesheet" href="https://use.typekit.net/bwi4pfa.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.2.3/purify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>
<body>
    <h2 style="padding-top: 10px;">{{ username }}'s Gists</h2>
    <div id="gists">
        {% for gist in gists %}
            <div class="gist">
                <h3 style="margin-bottom: 4px;">{{ gist.name }} &nbsp;&nbsp; <i style="font-size: .7em;">{{ gist.created }}</i></h3>
                <a style="font-size: 1.2em;" href="/{{ username }}/{{ gist.id }}">Read more</a>
                <br>
            </div>
        {% endfor %}
    </div>

</body>
</html>